/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
    body {
        font-size: 13px;
    }
    .front-page {
        padding-bottom: 50px;
    }
    .contacts-footer p {
        margin-bottom: 18px;
    }
    .logo-main {
        transform: scale(0.8);
        transform-origin: 50% 50%;
    }
    .btn-menu {
        top: 28px;
        left: 30px;
    }
    #map {
        margin-right: calc((100vw - 1157px) / 2* -1);
        height: calc(100vh - 95px);
    }
    .header__wrap {
        height: 95px;
    }
    .logo img {
        width: 255px;
    }
    .wrapper_page {
        padding-top: 95px;
    }
    .contact-left .title-section {
        top: 37px;
    }
    .title-section {
        font-size: 28px;
    }
    .item-contact {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .footer {
        padding-top: 48px;
    }
    .footer-bottom {
        padding: 20px 0;
        margin-top: 55px;
    }
    .footer__logo img {
        width: 345px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #map {
        margin-right: calc((100vw - 885px) / 2* -1);
        height: calc(100vh - 70px);
    }
    .contact-left {
        min-height: 600px;
    }
    .item-contact {
        margin-bottom: 20px;
    }
    .footer__logo img {
        width: 285px;
    }
    .header__wrap {
        height: 70px;
    }
    .logo img {
        width: 230px;
    }
    .btn-menu {
        top: 15px;
    }
    .wrapper_page {
        padding-top: 70px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .contact-left {
        min-height: auto;
        display: block;
    }
    .contact-left .title-section {
        margin-bottom: 24px;
        position: relative;
        top: 0;
        left: 0;
    }
    .page-contacts {
        padding-top: 30px;
    }
    #map {
        height: 400px;
        margin: 0;
        margin-top: 20px;
        min-height: initial;
    }
    .item-contact {
        margin-bottom: 15px;
    }
    .footer__logo {
        margin-bottom: 20px;
        display: inline-block;
    }
    .footer__logo img {
        width: 245px;
    }
    .copyright {
        margin: 0;
    }
    .footer-bottom .row > div {
        padding-bottom: 10px;
    }
    .footer-bottom {
        padding: 15px 0;
        margin-top: 35px;
    }
    .footer {
        padding-top: 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .logo-main {
        transform: scale(0.6);
    }
    .front-page {
        padding-bottom: 85px;
    }
    .contacts-footer p {
        margin-bottom: 12px;
    }
    .btn-menu {
        top: 15px;
        left: 15px;
    }
    .logo img {
        width: 180px;
    }
    .title-section {
        font-size: 25px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .logo-main {
        transform: scale(0.5);
    }
    #map {
        height: 350px;
    }
    .wrapper_page .btn-menu span {
        display: none;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
    max-width: 1470px;
}
}